<!--
  <p *ngFor="let emp of listOfEmployees; let i = index">{{listOfEmployees[i] | json}}</p>
-->
<div class = "table">
<table class = "table">

  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>email</th>
    <th>Contact Number</th>
    <th>Address</th>
    <th>Username</th>
    <th>Gender</th>
    <th>Qualificaiton</th>
    <th>Experince</th>
    <th>Coding Languages</th>

  </thead>

  <tbody>
    <tr *ngFor='let emp of listOfEmployees'>

      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.contactNumber}}</td>
      <td>{{emp.address}}</td>
      <td>{{emp.username}}</td>
      <td>{{emp.gender}}</td>
      <td>{{emp.qualification}}</td>
      <td>{{emp.experience}}</td>
      <td>{{emp.codingLangauges}}</td>

      <td>
        <a [routerLink]="['/employees', emp.id]">
          <Button class="btn btn-primary">Edit</Button>
        </a>
      </td>
      <td>
          <Button class="btn btn-danger" (click)="delete(emp.id)">Delete</Button>
      </td>


    </tr>
  </tbody>

</table>
</div>
